@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

$sansFontFamily: 'Lato', sans-serif;

@import "sass-bootstrap/lib/bootstrap";


#mapdiv{
  height: 400px;
  img{
    max-width: none;
  }
  label {
    width: auto;
    display:inline;
  }
}
