---
title: Welly Risks
---
<form action='#' class="form-search well">
  <label for='address'>Address:</label>
  <input id='address' name='address' placeholder="start typing an address" type="text" class="input-xlarge search-query">
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<div id="topnav"></div>
<div id="mapdiv"></div>
<div id="result_panel"></div>

<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<% content_for :javascript do %>
<script type="text/javascript">
  Risks.App.addInitializer(function(){
    this.layers.reset(<%= data.layers.to_json %>);
  });
</script>
<% end %>
